<div class="search_result_menu columns large-12 small-12">	
	<div class="row">
		<div class="small-6 large-8 columns">
			<%=@messages.count%> zoekresultaten
		</div>

		<div class="small-3 large-2 columns">
	Afstand
		</div>

		<div class="small-3 large-2 columns">
	Datum
		</div>
	</div>
</div>

<div class="search_result large-12 small-12 columns">
	<%if @messages.empty? %>
	Er zijn geen resultaten voor uw zoekopdracht.

	<%=link_to t('helpers.submit.message.create'), :new_message%>
	<%else%>
</div>

<% @messages.each do |m| %>
<div class="search_result large-12 small-12 columns">
	<div class="row">
		<div class="small-6 large-8 columns">
	<h3><%=m.title%></h3>
		</div>

		<div class="small-3 large-2 columns">
			<div class="distance_and_time">
				<%=m.distance.round(1)%> km
			</div>
		</div>

		<div class="small-3 large-2 columns">
			<div class="distance_and_time">
				Geplaatst op<br>
				<%=m.created_at.strftime("%d-%m-%Y")%>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="small-6 large-8 columns">
		<%=m.body%>
		</div>
	</div>
</div>
<% end %>
<% end %>

