<% content_for :title, t('messages.new.title') %>

<div class="row">
  <div class="large-12 columns new_message_wrapper">

    <%=form_for @message do |f| %>

      <div class="row">
        <div class="small-12 large-8 columns message_wrapper first_wrap">
          <h1 class="form_title" id="title_name"><%=t('.title')%></h1>
        </div>
      </div>

      <div class="row message_row">
        <div id="message_form_title" class="small-12 large-8 columns message_wrapper">
        	<%=f.label :title %>
          <%= f.text_field :title, class:'show_hint', placeholder:t('.title_placeholder'), title:t('.title_title') %>
        </div>

        <div class="large-3 small-12 columns hint_wrapper">
          <p><span class="hint">Hint</span> Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen.Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen.</p>
          <span class="arrow">
            <span></span>
          </span> 
        </div>

      </div>

       <div class="row">
        <div id="message_form_description" class="small-12 large-8 columns message_wrapper">
        	<%=f.label :body %>
          <%= f.text_area :body, class:'show_hint', placeholder:t('.body_placeholder'), title:t('.body_title') %>
        </div>

        <div class="large-3 small-12 columns hint_wrapper">
          <p><span class="hint">Hint</span> Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen.</p>
          <span class="arrow">
            <span></span>
          </span> 
        </div>

      </div>

      <div class="row">
        <div class="small-12 large-8 columns message_wrapper last_wrap">
          <%= f.submit @submit_text, class:"submit_button" %>
        </div>
      </div>

    <% end %>

  </div>

</div>



</div>




