<% content_for :title, t('messages.show.title') %>

<% if params[:success] || params[:comment] %>
	<div class="row">
		<div class="small-12 large-12 columns">
		    <div class="succes">
          <% if params[:success] %>
            <%= t('.success') %>
          <% elsif params[:comment] %>
            <%= t('.comment') %>
          <% end %>
		    </div>
		</div>
	</div>
<% end %>
<div class="row">
	<div class="large-6 small-12 columns show_wrapper">
	    <div class="wrapper_white">
	  		<div class="row">
	  			<div class="small-12 large-12 columns">
	  				<h2 class="message_header"><%= @message.title %></h2>
	  			</div>
	  		</div>
	  		<div class="row">
	  			<div class="small-12 large-12 columns">
	  				<p><%=@message.body%></p>	
	  			</div>
	  		</div>
	  		<div class="row">
	  			<div class="small-12 large-12 columns">
	  				<div class="sub_header">
	  					Geplaatst op <span class="sub_header_bold"><%= @message.created_at.strftime("%d-%m-%Y") %></span> door <span class="sub_header_bold"><%= @message.user.name %> (<%= @message.user.city %>)</span> in de categorie <span class="sub_header_bold"><%= @message.category.title %></span> 
	  				</div>
	  			</div>
			</div>
	  	</div>
  	</div>
	<div class="large-6 small-12 columns">
		<div class="large-12 small-12 columns comment_grey">
			<h4><%=t('comment.title')%></h4>
		</div>
	
		<% if @message.comments.count == 0 %>
			<div class="large-12 small-12 columns comment_white">
				<p><%=t('comment.none')%></p>
			</div>
		<% else %>
			<% @message.comments.each do |comment| %>
				<div class="large-12 small-12 columns comment_white<% if comment.id == params[:comment].to_i %> comment_highlight<% end %>">
					<h5><%=comment.user.name%></h5>
					<p><%=comment.body%></p>
				</div>
			<% end %>
		<% end %>
	

		<div class="large-12 small-12 columns comment_form_grey">
			<h4><%=t('comment.form_title')%></h4>
			<%= form_for([@message, @message.comments.build]) do |f| %>
				<%= f.text_area :body, placeholder:t('comment.placeholder') %>
				<%= f.submit t('global.comment.submit'), :class => 'submit_button reageer' %>
			<% end %>
		</div>
	</div>
</div>