<% content_for :title, t('messages.show.title') %>

<% if params[:success] %>
	<div class="row">
		<div class="small-12 large-12 columns">
      <div class="succes">
			 <%= t('.success') %>
      </div>
		</div>
	</div>
<% end %>
<div class="row">
	<div class="large-6 small-12 columns show_wrapper">
    <div class="wrapper_white">
  		<div class="row">
  			<div class="small-12 large-12 columns">
  				<h2 class="message_header"><%= @message.title %></h2>
  			</div>
  		</div>
  		<div class="row">
  			<div class="small-12 large-12 columns">
  				<span class="sub_header"><%= @message.user.name %></span>
  			</div>
  		</div>
  		<div class="row">
  			<div class="small-6 large-6 columns">
  				<span class="sub_header"><%= @message.user.city %></span>
  			</div>
  			<div class="small-6 large-6 columns">
  				<span class="sub_header message_date text_right">Geplaatst op <%= @message.created_at.strftime("%d-%m-%Y") %></span>
  			</div>
  		</div>
  		<div class="row">
  			<div class="small-12 large-12 columns">
  				<p><%=@message.body%></p>	
  			</div>
  		</div>
  	</div>
  </div>
	<div class="large-6 small-12 columns comment_grey">
		<h4><%=t('comment.title')%></h4>
	</div>
	
		<% if @message.comments.count == 0 %>
			<div class="large-6 small-12 columns comment_white">
				<p><%=t('comment.none')%></p>
			</div>
		<% else %>
			<% @message.comments.each do |comment| %>
				<div class="large-6 small-12 columns comment_white">
					<h5><%=comment.user.name%></h5>
					<p><%=comment.body%></p>
				</div>
			<% end %>
		<% end %>
	

	<div class="large-6 small-12 columns comment_form_grey">
		<h4><%=t('comment.form_title')%></h4>
		<%= form_for([@message, @message.comments.build]) do |f| %>
			<%= f.text_area :body, placeholder:t('comment.placeholder') %>
			<%= f.submit :class => 'submit_button reageer' %>
		<% end %>
	</div>
</div>