<% content_for :title, t('messages.show.title') %>
<div class="row">
	<div class="large-6 small-12 columns">
	 	<div class="row">
	 		<div class="small-12 large-12 columns">
				<h2 class="message_header"><%= @message.title %></h2>
			</div>
		</div>
		<div class="row">
			<div class="small-12 large-12 columns">
				<span class="sub_header"><%= @message.user.name %></span>
			</div>
		</div>
		<div class="row">
			<div class="small-6 large-6 columns">
				<span class="sub_header"><%= @message.user.city %></span>
			</div>
			<div class="small-6 large-6 columns">
				<span class="sub_header message_date text_right">Geplaatst op <%= @message.created_at.strftime("%d-%m-%Y") %></span>
			</div>
		</div>
		<div class="row">
			<div class="small-12 large-12 columns">
				<p><%=@message.body%></p>	
			</div>
		</div>
	</div>
	<div class="large-6 small-12 columns comment_wrapper">
		<h2>Reacties op dit bericht</h2>
		<% if @message.comments.count == 0 %>
			<p>Er zijn nog geen reacties. Wilt u reageren vul dan het formulier hieronder in.</p>
		<% else %>
			<% @message.comments.each do |comment| %>
				<h5><%=comment.user.name%></h5>
		  		<p><%=comment.body%></p>
		  		<hr>
			<% end %>
		<% end %>

		<h2>Reageer zelf</h2>
		<%= form_for([@message, @message.comments.build]) do |f| %>
		    <%= f.text_area :body %>
		    <%= f.submit :class => 'submit_button reageer' %>
		<% end %>
	</div>
</div>