<%= form_for @user, url: @form_path do |f| %>
	<input type="hidden" name="origin" value="overview">
	<%= f.hidden_field :first_name %>
	<%= f.hidden_field :in_between %>
	<%= f.hidden_field :last_name %>
	<%= f.hidden_field :street %>
	<%= f.hidden_field :house_number %>
	<%= f.hidden_field :postal_code %>
	<%= f.hidden_field :place %>
	<%= f.hidden_field :date_of_birth %>
	<%= f.hidden_field :phone %>
	<%= f.hidden_field :cellphone %>
	<%= f.hidden_field :email %>
	<%= f.hidden_field :hobbies %>
    <input type="hidden" name="avatar_temp_name" value="<%=params[:avatar_temp_name]%>">
	<div class="small-3 columns">
		<%=f.submit t('global.edit'), :class => 'edit-button' %>
	</div>
<% end %>