<div id="profile_overview">
	<div class="row">
		<div class="small-12 columns">
			<h1>Kloppen uw gegevens?</h1>
		</div>
	</div>

	<div class="row">
		<div class="small-6 columns">
			<%=@user.first_name%> <%=@user.in_between%> <%=@user.last_name%>
		</div>
		<%
		@form_path = @base_form_path+'/step_1'
		%>
		<%=render 'hidden_form'%>
	</div>

	<div class="row">
		<div class="small-6 columns">
			<%= @user.date_of_birth.strftime("%d-%m-%Y") unless @user.date_of_birth == nil %>
		</div>
		<% @form_path = @base_form_path+'/step_2' %>
		<%=render 'hidden_form'%>
	</div>
	<div class="row">
		<div class="small-6 columns">
			<%=@user.street%> <%=@user.house_number%>, <%=@user.postal_code%> <%=@user.place%>
		</div>
		<% @form_path = @base_form_path+'/step_3' %>
		<%=render 'hidden_form'%>
	</div>
	<div class="row">
		<div class="small-6 columns">
			<div><%= "tel: "+@user.phone unless @user.phone.blank? %></div>
			<div><%= "mob: "+@user.cellphone unless @user.cellphone.blank? %></div>
			<div><%= "e-mail: "+@user.email unless @user.email.blank? %></div>
		</div>
		<% @form_path = @base_form_path+'/step_4' %>
		<%=render 'hidden_form'%>
	</div>
		<div class="row">
			<div class="small-6 columns">
				<% unless @user.hobbies.blank? %>
					<%= @user.hobbies%>
				<% else %>
					Er zijn geen hobbies ingevuld, klik op bewerken als u alsnog een hobby wilt toevoegen.
				<% end %>
			</div>
			<% @form_path = @base_form_path+'/step_5' %>
			<%=render 'hidden_form'%>
		</div>

	<%= form_for @user do |f| %>
		<%= f.hidden_field :first_name %>
		<%= f.hidden_field :in_between %>
		<%= f.hidden_field :last_name %>
		<%= f.hidden_field :street %>
		<%= f.hidden_field :house_number %>
		<%= f.hidden_field :postal_code %>
		<%= f.hidden_field :place %>
		<%= f.hidden_field :date_of_birth %>
		<%= f.hidden_field :phone %>
		<%= f.hidden_field :cellphone %>
		<%= f.hidden_field :email %>
		<%= f.hidden_field :hobbies %>

		<div class="row">
			<div class="small-4 columns">
				<div class="prev">Vorige</div>
			</div>
			<div class="small-4 columns">
				<span class="small-12 columns progress_text">
			        Stap 6 van 6
			    </span>
			    <div class="small-2 columns done" id="first"></div>
			    <div class="small-2 columns done"></div>
			    <div class="small-2 columns done"></div>
			    <div class="small-2 columns done"></div>
			    <div class="small-2 columns done"></div>
			    <div class="small-2 columns done end" id="last"></div>
			</div>
			<div class="small-4 columns">
				<%= f.submit "Voltooien", :class => 'submit_button' %>
			</div>
		</div>
	<% end %>
</div>