<div id="profile_2">
	<h1>Wanneer bent u geboren?</h1>

	<%= form_for @user, url: '/users/'+@user.id.to_s+'/profile/step_3' do |f| %>
		<label for="day">Wat is uw geboortedag?</label>
		<input id="day" name="day" placeholder="Dag" value="<%if @user.date_of_birth then puts @user.date_of_birth.day end %>">

		<label for="month">Wat is uw geboortemaand?</label>
		<select id="month" name="month">
			<%
			@months.each_with_index do | text, value | 
				if @user.date_of_birth
					if value == @user.date_of_birth.month
						sel = " selected"
					else
						sel = ""
					end
				else
					sel = ""
				end
				%>
			<option value="<%=value%>"<%=sel%>><%=text%></option>
			<% end %>
		</select>
		
		<label for="year">Wat is uw geboortejaar?</label>
		<input id="year" name="year" placeholder="Jaar" value="<%if @user.date_of_birth then puts @user.date_of_birth.year end%>">
		
		<%= f.hidden_field :first_name %>
		<%= f.hidden_field :in_between %>
		<%= f.hidden_field :last_name %>
		<%= f.hidden_field :date_of_birth %>

		<!-- alleen van toepassing bij bewerken -->
		<%= f.hidden_field :street %>
		<%= f.hidden_field :house_number %>
		<%= f.hidden_field :postal_code %>
		<%= f.hidden_field :place %>
		<%= f.hidden_field :phone %>
		<%= f.hidden_field :cellphone %>
		<%= f.hidden_field :email %>
		<%= f.hidden_field :hobbies %>
		
		<%= f.submit "Volgende" %>
	<% end %>
</div>