<div id="profile_4">
	<div class="row">
		<div class="small-12 columns">
			<h1>
				Hoe kunnen we u bereiken?
			</h1>
		</div>
	</div>
	<%= form_for @user, url: @base_form_path+@form_target do |f| %>
	<%
	custom_error_class='error'
	%>
		<div class="row">
	<%
	# validation display
	custom_class=''
	error_text=''
	if @user.errors[:phone].any? && params[:origin]!="step_3"
		custom_class=custom_error_class
		error_text="<small class='"+custom_class+"'>"+@user.errors.full_messages_for(:phone).join("<br>")+"</small>"
	end
	%>
			<div class="small-6 columns">
				<h4>
					<%= f.label :phone, "Wat is uw telefoonnummer?", class:custom_class %>
				</h4>
				<%= raw error_text %>
			</div>
	<%
	# validation display
	custom_class=''
	error_text=''
	if @user.errors[:cellphone].any? && params[:origin]!="step_3"
		custom_class=custom_error_class
		error_text="<small class='"+custom_class+"'>"+@user.errors.full_messages_for(:cellphone).join("<br>")+"</small>"
	end
	%>
			<div class="small-6 columns">
				<h4>
					<%= f.label :cellphone, "Wat is uw mobiele nummer?", class:custom_class %>
				</h4>
				<%= raw error_text %>
			</div>
		</div>
		<div class="row">
	<%
	# validation display
	custom_class=''
	if @user.errors[:phone].any? && params[:origin]!="step_3"
		custom_class=custom_error_class
	end
	%>
			<div class="small-6 columns">
				<%= f.text_field :phone, placeholder: "Telefoonnummer", class:custom_class %>
			</div>
	<%
	# validation display
	custom_class=''
	if @user.errors[:cellphone].any? && params[:origin]!="step_3"
		custom_class=custom_error_class
	end
	%>
			<div class="small-6 columns">
				<%= f.text_field :cellphone, placeholder: "Mobiele nummer", class:custom_class %>
			</div>
		</div>
		
	<%
	# validation display
	custom_class=''
	error_text=''
	if @user.errors[:email].any? && params[:origin]!="step_3"
		custom_class=custom_error_class
		error_text="<small class='"+custom_class+"'>"+@user.errors.full_messages_for(:email).join("<br>")+"</small>"
	end
	%>
		<div class="row">
			<div class="small-12 columns">
				<h4><%= f.label :email, "Wat is uw e-mailadres?", class:custom_class %></h4>
				<%= raw error_text %>
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<%= f.text_field :email, type: "email", placeholder: "E-mailadres", class:custom_class %>
			</div>
		</div>
		
		<%= f.hidden_field :first_name %>
		<%= f.hidden_field :in_between %>
		<%= f.hidden_field :last_name %>
		<%= f.hidden_field :street %>
		<%= f.hidden_field :house_number %>
		<%= f.hidden_field :postal_code %>
		<%= f.hidden_field :place %>
		<%= f.hidden_field :date_of_birth %>
		<%= f.hidden_field :hobbies %>

		<input type="hidden" name="origin" value="step_4">

		<div class="row">
			<div class="small-4 columns">
				<div class="prev">Vorige</div>
			</div>
			<div class="small-4 columns">
				<span class="small-12 columns progress_text">
			        Stap 4 van 6
			    </span>
			    <div class="small-2 columns done" id="first"></div>
			    <div class="small-2 columns done"></div>
			    <div class="small-2 columns done"></div>
			    <div class="small-2 columns done"></div>
			    <div class="small-2 columns not-done"></div>
			    <div class="small-2 columns not-done end" id="last"></div>
			</div>
			<div class="small-4 columns">
				<%= f.submit "Volgende", :class => 'submit_button' %>
			</div>
		</div>
	<% end %>
</div>