<div id="profile_3">
	<h1>Waar woont u?</h1>
	<%= form_for @user, url: '/users/'+@user.id.to_s+'/profile/'+@form_target do |f| %>
		<div>
			<%= f.label :postal_code, "Wat is uw postcode?" %>
			<%= f.text_field :postal_code, placeholder: "1234AA" %>

			<%= f.label :house_number, "Wat is uw huisnummer?" %>
			<%= f.text_field :house_number, placeholder: "Huisnummer" %>
			
			<!-- met jquery juiste straat en plaats in hidden inputs plaatsen -->
			<%= f.hidden_field :street %>
			<%= f.hidden_field :place %>
			
			<!-- met jquery straat en woonplaats opzoeken en in hidden inputs plaatsen -->
			<button id="check_address">Volgende</button>
		</div>
		<div id="overlay">
			<h2>Klopt dit adres?</h2>
			<p id="address"></p>
			<button id="close_overlay">Nee</button>
			<%= f.hidden_field :first_name %>
			<%= f.hidden_field :in_between %>
			<%= f.hidden_field :last_name %>
			<%= f.hidden_field :date_of_birth %>
			<%= f.hidden_field :phone %>
			<%= f.hidden_field :cellphone %>
			<%= f.hidden_field :email %>
			<%= f.hidden_field :hobbies %>
			<%= f.submit "Ja" %>
		</div>
	<% end %>
</div>