<h1>Nieuwe oproep</h1>
<% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @request.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>
<%= form_for(@request) do |f| %>
  <p><input type="text" name="title" placeholder="title"  title="Minimaal 10 karakters invullen" value="<%=@request.title%>"></p>
  <p><input type="date" name="date" placeholder="date" value="<%=@request.date.strftime("%d-%m-%Y") if @request.date != nil %>"></p>
  <p><input type="submit"></p>
<% end %>