<% content_for :title, "Nieuwe oproep" %>
<div class="row">
  <div class="small-12 columns">
    <div class="header">
      <h1>Nieuwe oproep</h1>
    </div>
  </div>
</div>
<% if @request.errors.any? %>
<div id="error_explanation">
  <h2><%= I18n.t('activerecord.errors.template.header', :count => @request.errors.count) %></h2>
  <ul>
    <% @request.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
<% if params[:origin] == "overview" %>
  <form action="/requests/new/overview" method="post">
<% else %>
  <form action="/requests/new/step_2" method="post">
<% end %>
  <div class="row">
    <div class="small-12 columns">
      <!-- STEP 1 - TITLE OF REQUEST -->
      <h2 class="form_title" id="title_name">Welke oproep zou u willen toevoegen?</h2>
      <p class="form_subtitle">U kunt hieronder een naam voor een oproep invoeren.</p>
    </div>
  </div>
  <div class="row">
    <div id="request_form_name" class="small-12 columns">
      <input type="text" placeholder="Naam van uw oproep" title="Minimaal 10 karakters invullen" name="request[title]" value="<%=@request.title%>" id="name">
      <input type="hidden" name="request[date]" value="<%=@request.date%>">
      <input type="hidden" name="origin" value="<%=params[:origin]%>">
    </div>
  </div>
  <!-- PROGRESS BAR AND BUTTONS -->
  <div class="row">
    <div id="progress_bar" class="small-4 push-4 columns">
      <span class="small-12 columns progress_text">
        Stap 1 van 3
      </span>
      <div class="small-4 columns done" id="first"></div>
      <div class="small-4 columns not-done"></div>
      <div class="small-4 columns not-done end" id="last"></div>
    </div>
    <div class="small-4 columns">
      <% if params[:origin] == "overview" %>
        <input type="submit" id="submit_button" value="Gereed">
      <% else %>
        <input type="submit" id="submit_button" value="Volgende">
      <% end %>
    </div>
  </div>
</form>