<!-- STEP 3 - OVERVIEW -->
<div class="row">
  <div class="small-12">
    <h2 class="form_title" id="title_overview">Controleer uw oproep.</h2>
    <div id="request_form_overview">
      <div class="row" id="overview_name_wrapper">
        <div class="small-9 small-centered columns">
          <div class="small-3 columns">
            Titel:
          </div>
          <div id="name_overview_val" class="small-6 columns">
            <%= @request.title %>
          </div>
          <div class="small-3 columns">
            <form action="/requests/new_step_1" method="post">
              <input type="hidden" name="request[title]" value="<%=@request.title%>">
              <input type="hidden" name="request[date]" value="<%=@request.date%>">
              <input type="submit" class="edit-button" value="Bewerken">
            </form>
          </div>
        </div>
      </div>
      <div class="row" id="overview_date_wrapper">
        <div class="small-9 small-centered columns">
          <div class="small-3 columns">
            Datum:
          </div>
          <div id="date_overview_val" class="small-6 columns">
            <%= @request.date.strftime("%d-%m-%Y") %>
          </div>
          <div class="small-3 columns">
            <form action="/requests/new_step_2" method="post">
              <input type="hidden" name="request[title]" value="<%=@request.title%>">
              <input type="hidden" name="request[date]" value="<%=@request.date%>">
              <input type="submit" class="edit-button" value="Bewerken">
            </form>
          </div>
        </div>
      </div>
      <!-- PROGRESS BAR AND BUTTONS -->
      <div class="row">
        <div class="prev small-4 columns">
          Vorige
        </div>
        <div id="progress_bar" class="small-4 columns">
          <span class="small-12 columns progress_text">
            Stap 3 van 3
          </span>
          <div class="small-4 columns first_step"></div>
          <div class="small-4 columns second_step"></div>
          <div class="small-4 columns third_step"></div>
        </div>
        <div class="small-4 columns">
          <form action="requests/create" method="post">
            <input type="hidden" name="request[title]" value="<%=@request.title%>">
            <input type="hidden" name="request[date]" value="<%=@request.date%>">
            <input type="submit" id="submit_button" value="Verstuur">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
