<% content_for :title, "Nieuwe oproep" %>
<div class="row">
  <div class="small-12 columns">
    <div class="header">
      <h1>Nieuwe oproep</h1>
    </div>
  </div>
</div>
<% if @request.errors.any? %>
<div id="error_explanation">
  <h2><%= I18n.t('activerecord.errors.template.header', :count => @request.errors.count) %></h2>
  <ul>
    <% @request.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
<form action="/requests/new/overview" method="post">
	<div class="row">
	  <div class="small-12 columns">
	    <!-- STEP 2 - DATE OF REQUEST -->
	    <h2 class="form_title" id="title_date">Wanneer wilt u de taak uitgevoerd hebben?</h2>
	    <div id="request_form_date">
	      <div id="date"></div>
	      <input type="hidden" name="request[title]" value="<%=@request.title%>">
	      <input type="hidden" name="request[date]" id="actualDate" value="<%=@request.date%>">
	      <input type="hidden" name="origin" value="<%=params[:origin]%>">
	    </div>
	  </div>
	</div>
	<!-- PROGRESS BAR AND BUTTONS -->
	<div class="row">
	  <div class="small-4 columns">
	  	<div class="prev">
	    	Vorige
	    </div>
	  </div>
	  <div id="progress_bar" class="small-4 columns">
	    <span class="small-12 columns progress_text">
	      Stap 2 van 3
	    </span>
	    <div class="small-4 columns done" id="first"></div>
	    <div class="small-4 columns done"></div>
	    <div class="small-4 columns not-done" id="last"></div>
	  </div>
	  <div class="small-4 columns">
	    <% if params[:origin] == "overview" %>
	        <input type="submit" class="submit_button" value="Gereed">
	    <% else %>
	        <input type="submit" class="submit_button" value="Volgende">
	    <% end %>
	  </div>
	</div>
</form>