<!-- STEP 3 - OVERVIEW -->
<% content_for :title, "Nieuwe oproep" %>
<div class="row">
  <div class="small-12 columns">
    <h1 class="form_title" id="title_overview">Is dit de oproep die u wilt plaatsen?</h1>
    </div>
    </div>
      <div class="row">
          <div class="large-12 small-12 columns overview_title">
            <h4>Titel:</h4>
            <%= @request.title %>
          </div>
            <%
            @form_path = @base_form_path+'/step_1'
            %>
          <%=render 'hidden_form'%>
      </div>
      <hr>
      <div class="row">
          <div class="large-12 small-12 columns overview_title">
            <h4>Datum:</h4>
            <%= @request.date.strftime("%d-%m-%Y") %>
          </div>
            <%
            @form_path = @base_form_path+'/step_2'
            %>
          <%=render 'hidden_form'%>
      </div>
      <!-- PROGRESS BAR AND BUTTONS -->
      <div class="row">
        <div class="small-6 large-4 columns">
          <div class="prev">
            Vorige
          </div>
        </div>
        <div class="small-6 large-4 columns">
          <%= form_for @request do |f| %>
            <%= f.hidden_field :title %>
            <%= f.hidden_field :date %>
            <%= f.submit "Verstuur", :class=>"submit_button" %>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div id="progress_bar" class="small-12 columns">
          <div class="small-4 small-centered columns progress_text">
            Stap 3 van 3
          </div>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns" id="progress_bar">
          <div class="small-4 columns done" id="first"></div>
          <div class="small-4 columns done"></div>
          <div class="small-4 columns done" id="last"></div>
        </div>
      </div>
