<% content_for :title, t('pages.home.title') %>

<div class="row">
  <% @categories.each do |category| %>
    <div class="small-12 large-6 columns <%=category.color%>">
      <a href='' class='category_button_1'><div class="category_button_image_1"></div><%=category.title%></a>
    </div>
  <% end %>
</div>

<div class="row">
	<div class="small-12 large-12 columns">
		<div class="row">
		<% @columns.each_with_index do |column, i| %>
			<div class="small-12 large-4 columns column_items_wrapper">
				<div class="row">
					<div class="small-12 large-12 columns">
						<div class="home_header">
							<h4><%= @columnTitles[i] %></h4>
						</div>
					</div>
				</div>
				<% column.each do |item| %>
					<div class="row">
						<div class="small-12 large-12 columns">
							<div class="item_box">
								<div class="small-7 large-7 columns home_message_title">
									<h4><%= link_to item.title, item %></h4>
								</div>
								<div class="small-5 large-5 columns home_sub_header_category text_right">
									<%=item.category.title%>
								</div>
								<div class="small-12 large-12 columns item_box_body">
									<p><%= item.body %></p>
								</div>
								<div class="small-6 large-6 columns">
									<span class="home_sub_header_city"><%= item.user.city%></span>
								</div>
								<div class="small-6 large-6 columns">
									<span class="home_sub_header_date text_right"><%= item.created_at.strftime("%d-%m-%Y") %></span>
								</div>
							</div>
						</div>
					</div>
				<% end %>
			</div>
		<% end %>
		</div>
	</div>
</div>
