<% content_for :title, t('pages.home.title') %>

<div class="row">
	<div class="small-12 large-6 columns">
		<a href='' class='category_button_1'><div class="category_button_image_1"></div><%=t('global.categories.groceries')%></a>
	</div>
	<div class="small-12 large-6 columns">
		<a href='' class='category_button_2'><div class="category_button_image_2"></div><%=t('global.categories.electronics_and_computer')%></a>
	</div>
</div>

<div class="row">
	<div class="small-12 large-6 columns">
		<a href='' class='category_button_3'><div class="category_button_image_3"></div><%=t('global.categories.finance')%></a>
	</div>
	<div class="small-12 large-6 columns">
		<a href='' class='category_button_4'><div class="category_button_image_4"></div><%=t('global.categories.household')%></a>
	</div>
</div>

<div class="row">
	<div class="small-12 large-6 columns">
		<a href='' class='category_button_5'><div class="category_button_image_5"></div><%=t('global.categories.lift')%></a>
	</div>
	<div class="small-12 large-6 columns">
		<a href='' class='category_button_6'><div class="category_button_image_6"></div><%=t('global.categories.sports_and_recreation')%></a>
	</div>
</div>

<div class="row">
	<div class="small-12 large-6 columns">
		<a href='' class='category_button_7'><div class="category_button_image_7"></div><%=t('global.categories.gardening')%></a>
	</div>
	<div class="small-12 large-6 columns">
		<a href='' class='category_button_8'><div class="category_button_image_8"></div><%=t('global.categories.other')%></a>
	</div>
</div>

<div class="row">
	<div class="small-12 large-12 columns">
		<div class="row">
		<% @columns.each_with_index do |column, i| %>
			<div class="small-12 large-4 columns column_items_wrapper">
				<div class="row">
					<div class="small-12 large-12 columns">
						<div class="home_header">
							<h4><%= @columnTitles[i] %></h4>
						</div>
					</div>
				</div>
				<% column.each do |item| %>
					<div class="row">
						<div class="small-12 large-12 columns">
							<div class="item_box">
								<div class="small-7 large-7 columns home_message_title">
									<h4><%= link_to item.title, item %></h4>
								</div>
								<div class="small-5 large-5 columns home_sub_header_category text_right">
									<%=item.category.title%>
								</div>
								<div class="small-12 large-12 columns item_box_body">
									<p><%= item.body %></p>
								</div>
								<div class="small-6 large-6 columns">
									<span class="home_sub_header_city"><%= item.user.city%></span>
								</div>
								<div class="small-6 large-6 columns">
									<span class="home_sub_header_date text_right"><%= item.created_at.strftime("%d-%m-%Y") %></span>
								</div>
							</div>
						</div>
					</div>
				<% end %>
			</div>
		<% end %>
		</div>
	</div>
</div>
