<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />

    <!-- Uncomment to make IE8 render like IE7 -->
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <!-- Nav Wrap -->
    <div class="contain-to-grid">
      <nav class="top-bar">
        <ul class="title-area">
        <!-- Title Area -->
          <li class="name"><h1><%=link_to t('global.brand'),root_url%></h1></li>
          <li class="toggle-topbar"><a href="#"><span><%=t('global.menu')%></span></a></li>
        </ul>
        <!-- The Section wrap -->
        <section class="top-bar-section">
          <!-- Left Nav Section -->
          <ul class="right">
            <li><a class="nav" href="/"><%=t 'global.home' %></a></li>
          </ul>
        </section>
      </nav>
    </div>
    <!-- /Nav -->

    <div class="search_bar">
      <div class="row">
        <%=form_tag '/messages/search' do %>
          <div class="large-5 columns">
            <!--
            TODO: Klaas dit veld nog vervangen
            Zoekopdracht
            <input type="text" class="search_input"></input>
            -->&nbsp;
          </div>

          <div class="large-2 columns">
            <%=label_tag 'search_postal_code',t('global.search.postal_code')%>
            <%=text_field_tag 'search[postal_code]',@postal_code!=nil ? @postal_code : '', placeholder:'1234AA', class:'search_input' %>
          </div>

          <div class="large-3 columns">
            <%=label_tag 'search_radius',t('global.search.radius')%>
            <p class="dropdown">
              <%=select_tag 'search[radius]',options_for_select(@radius_options,@radius)%>
            </p>
          </div>

          <div class="large-2 columns">
            <%=submit_tag t('global.search.submit'), class:'search_button'%>
          </div>
        <% end %>
      </div>
    </div>

    </div>
    <div class="wrapper">
      <%= yield %>
    </div>

    <%= javascript_include_tag "application" %>
  </body>
</html>
